In [42]:
import requests
# from pandas.io.json import json_normalize
import pandas as pd
# import mysql.connector as mysql
# import sqlite3
import pymysql
from sqlalchemy import create_engine

In [2]:
config = {
  'user': 'root',
  'passwd': 'password',
  'host': '127.0.0.1',
  'database': 'py_sql_training',
  'raise_on_warnings': True
}

In [31]:
jsonFile = 'https://data.sfgov.org/resource/yitu-d5am.json'

pd_object = pd.read_json(jsonFile)
df_sf = pd.DataFrame(pd_object)
df_sf.head(5)

,title,release_year,locations,production_company,director,writer,actor_1,actor_2,actor_3,distributor,fun_facts
0,180,2011,Epic Roasthouse (399 Embarcadero),SPI Cinemas,Jayendra,"Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba",Siddarth,Nithya Menon,Priya Anand,NaN,NaN
1,180,2011,Mason & California Streets (Nob Hill),SPI Cinemas,Jayendra,"Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba",Siddarth,Nithya Menon,Priya Anand,NaN,NaN
2,180,2011,Justin Herman Plaza,SPI Cinemas,Jayendra,"Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba",Siddarth,Nithya Menon,Priya Anand,NaN,NaN
3,180,2011,200 block Market Street,SPI Cinemas,Jayendra,"Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba",Siddarth,Nithya Menon,Priya Anand,NaN,NaN
4,180,2011,City Hall,SPI Cinemas,Jayendra,"Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba",Siddarth,Nithya Menon,Priya Anand,NaN,NaN

In [ ]:
df_sf.dtypes

In [ ]:
engine = create_engine('mysql+pymysql://root:password@localhost/py_sql_training')
df_sf.to_sql('sf_film', con = engine, if_exists='replace', index = False)

In [43]:
# cnx = mysql.connect(**config)
# server = cnx.cursor()
# cnx = pymysql.connect()
# c = cnx.cursor()

# c.execute('CREATE TABLE IF NOT EXISTS sf_film (title VARCHAR(255), release_year YEAR, locations VARCHAR(255), production_company VARCHAR(255), director VARCHAR(255), writer VARCHAR(255), actor_1 VARCHAR(255), actor_2 VARCHAR(255), actor_3 VARCHAR(255), fun_facts TEXT)')
# cnx.commit()

# df.to_sql('sf_film', con = engine, if_exists='replace', index = False)

# cnx.close()

1000